/* add home page styles here */


/* #ingredients {
 display: flex;
 flex-direction: column;
} */

section.add-ingredients {
  
  display: flex;
  flex-direction: row;
  padding-right: 100px;
  margin-bottom: 10px;
} 


#ingredient-form {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 200px; 
    padding-bottom: 20px;
    
}
#ingredients-list {
    font-size: .5em;
    
}

#save {
    padding-left: 200px;
    padding-right: 200px;
}

#label {
    font-size: .65em;
    padding-bottom: 20px;
}
#save-recipe {
    padding-left: 20px;
    padding-right: 20px;
}

